# GOLANG
# Binaries for programs and plugins
server/*.exe
server/*.exe~
server/*.dll
server/*.so
server/*.dylib

# Test binary, built with `go test -c`
server/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
server/*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
server/go.work

# NODE
client/node_modules/
client/.env
client/logs
client/*.log
client/*.tmp
client/*.cache
client/yarn.lock
client/coverage/

# SHARED
.idea
.DS_Store
.vscode/